@import "tailwindcss";

@layer base {
  :root {
    --font-quicksand:
      "Quicksand", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-dynapuff:
      "DynaPuff", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
  body {
    background-color: #FFFCF5;
    font-family: var(--font-quicksand);
  }
}
