@import "tailwindcss";

@layer base {
  :root {
    --font-quicksand:
      "Quicksand", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-dynapuff:
      "DynaPuff", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }

  html,
  body {
    background-color: #fffcf5;
    font-family: var(--font-quicksand);

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /*
Source - https://stackoverflow.com/a/22306944
Posted by JayD, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-09, License - CC BY-SA 4.0
*/
}
